<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- Side navigation -->
<div class="sidenav">
    <a routerLink="/" (click) ="activar('inicio')">Inicio</a>
    <a routerLink="/about" (click) ="activar('acerca')">Acerca De</a>
    <a routerLink="/turnos"(click) ="activar('turno')">Turnos</a>
    <a routerLink="/" aria-disabled="true">Buscar Turno</a>
  </div>
  
  <!-- Page content -->
  <div class="main">
      <router-outlet></router-outlet>
  </div>